.folderWindow {
  width: 20em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  padding: 1em 0 1em 0;
}

.newFolderInput {
  margin-bottom: 1em;
  font-size: 1em;
}

.newFolderButtom {
  background-color: var(--light-gray);
  text-align: left;
  font-size: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}
.folder {
  margin-bottom: 1em;
}
