.main {
  padding: 50px 96px;
}

table {
  border-collapse: collapse;
}

.languages td {
  border: none;
  padding: 0;
  padding-bottom: 1em;
  text-align: center;
}

.buttonClassName {
  font-size: 1.4em;
  font-weight: 400;
  padding: 0;
}

.inputClassName {
  font-size: 1.4em;
  padding: 0;
  border: 0;
}
