.form {
  width: 12rem;
}
.input {
  margin: 0 1em;
}

.newFolderButtom {
  text-align: left;
  font-size: 1em;
  padding: 1em 2em 1em 0;
  width: 24rem;
}

.newFolderButtom:hover {
  background-color: white;
}

.newFolderButtom img {
  padding-right: 7px;
}

.section {
  display: flex;
  line-height: 120%;
  font-size: 16px;
  justify-content: center;
}

.newFolderButtom:hover {
  text-decoration: underline;
}

.rightColumn {
  border-right: 1px solid var(--dark-gray);
}
