.PairOfWords {
  margin-bottom: 0.5em;
  /* display: flex; */
}

td {
  border: 1px solid black;
  padding: 1em 1em 1em 1em;
  min-width: 7em;
  max-width: 7em;
}

.deleteTd {
  border: none;
  padding: 3px;
}
