.PairOfWords {
  margin-bottom: 0.5em;
}

td {
  border: none;
  background-color: var(--light-gray);
  padding: 1em;
  min-width: 12em;
  max-width: 12em;
}

.deleteTd {
  border: none;
  padding: 3px;
  background-color: white;
}

.button {
  font-size: 1em;
  background-color: var(--light-gray);
}
