.PairOfWords {
  margin-bottom: 0.5em;
}

.rightColumn {
  border-right: 1px solid var(--dark-gray);
}

.leftColumn {
  border-left: 1px solid var(--dark-gray);
}

td {
  border-bottom: 1px solid var(--dark-gray);
  padding: 0.7em;
  min-width: 12em;
}

.deleteTd {
  border: none;
  padding-left: 3px;
  background-color: white;
  visibility: hidden;
}

.deleteButton {
  padding: 0;
}

.PairOfWords:hover .deleteTd {
  visibility: visible;
}

.button {
  font-size: 1em;
}
