.PairOfWords {
  margin-bottom: 0.5em;
}

.speechPart {
  border: none;
  width: 5rem;
  padding: 0 1em;
  min-width: 0;
}

.speechPartElement {
  padding: 3px 7px;
  background-color: var(--red);
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 500;
}

.speechPartInput {
  width: 3rem;
}

.formClassName {
  width: 12rem;
}

.rightColumn {
  border-right: 1px solid var(--dark-grey);
}

.leftColumn {
  border-left: 1px solid var(--dark-grey);
}

td {
  border-bottom: 1px solid var(--dark-grey);
  padding: 0.7em 0;
  min-width: 180px;
  max-width: 180px;
}

.deleteTd {
  border: none;
  padding-left: 3px;
  background-color: white;
  visibility: hidden;
}

.deleteButton {
  padding: 0;
}

.PairOfWords:hover .deleteTd {
  visibility: visible;
}

.button {
  font-size: 1em;
  padding: 0 1em;
}

.inputClassName {
  font-size: 1em;
  margin: 0 1em;
  border: none;
  border-bottom: 1px solid var(--dark-grey);
  padding: 0;
}
