.buttonClassName {
  font-size: 3em;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.inputClassName {
  border: none;
  font-size: 3em;
  font-weight: 700;
  padding: 0;
}

.formClassName {
  width: 5em;
  font-size: 3em;
  margin: 0;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.infoBox {
  display: flex;
  padding: 2em 0 1em 10.5em;
  margin-bottom: 0.7em;
  align-items: center;
}

.sort {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
}
