.boxFolder {
  display: flex;
  margin-bottom: 0.5em;
  font-size: 15px;
  border-radius: 5px;
  color: black;
  padding: 0.3em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  border: 2px solid white;

  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.boxFolder:focus {
  outline: none;
}

.boxFolder:hover {
  background-color: var(--dark-gray);
  /* #d4d4d4; */
}

.activeFolder {
  border: 2px solid #808080;
}
